doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
    head
        meta(charset="utf-8")
        meta(http-equiv = "X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title loftschool homework-3

        link(rel='icon' href='' type='image/x-icon')
        link(rel='shortcut icon' href='' type='image/x-icon')

        //Google Fonts
        link(href='http://fonts.googleapis.com/css?family=Roboto:300,500italic,400&subset=cyrillic,latin', rel='stylesheet', type='text/css')

        link(rel='stylesheet', href="../css/ui/jquery-ui.css")
        link(rel='stylesheet', href="../css/ui/spinner.css")
        link(rel='stylesheet', href="../css/ui/slider.css")
        link(rel='stylesheet', href="../css/ui/ui.css")
    body
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        .wrapper
            .maincontent
                .container
                    .block__left
                        h1 Генератор водяных знаков
                        .block__left-result
                            div.bg
                                img.bg-img(src='http://lorempixel.com/600/600')
                            div.wm
                                img.watermark-img(src='http://lorempixel.com/180/180')
                            div.js-loader.loader
                    .block__right
                        h2 Настройки

                        form(id="watermark-img-generator-form", action="javascript:void(0)")
                            div.settings-block
                                .upload-file-row
                                    label.file-label(for="upload-pic") Исходное изображение
                                    .file
                                        input.file__upload-pic(id="upload-pic" name="files[]" data-url="../php/file-upload/" type="file" placeholder="Загрузите изображение" multiple)
                                        input.hide(type='text' id='bg-img' name='bgImg' value='')
                                        .file__inputbox
                                            span.upload-bg-placeholder Загрузите изображение
                                        .file__btn
                                .upload-file-row
                                    label.file-label(for="upload-wm") Водяной знак
                                    .file
                                        input.file__upload-pic(id="upload-wm" name="files[]" data-url="../php/file-upload/" type="file" placeholder="Загрузите изображение" multiple)
                                        input.hide(type='text' id='wm-img' name='wmImg' value='')
                                        .file__inputbox
                                            span.upload-wm-placeholder Загрузите изображение
                                        .file__btn
                            div.settings-block
                                .block__header
                                    h3 Положение
                                .switch__btn
                                    a.switch__btn-four(href="#")
                                    a.switch__btn-one.active(href="#")
                                .position
                                    .position__visual
                                        table.position__visual-box
                                            tbody.box__body
                                                tr.box__row
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='top-left')
                                                        a.box__cell-btn.active(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='top-middle')
                                                        a.box__cell-btn(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='top-right')
                                                        a.box__cell-btn(href="#")
                                                tr.box__row
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='center-left')
                                                        a.box__cell-btn(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='center-middle')
                                                        a.box__cell-btn(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='center-right')
                                                        a.box__cell-btn(href="#")
                                                tr.box__row
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='bottom-left')
                                                        a.box__cell-btn(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='bottom-middle')
                                                        a.box__cell-btn(href="#")
                                                    td.box__cell.js-set-watermark-position(data-watermark-position='bottom-right')
                                                        a.box__cell-btn(href="#")
                                    .position__coordinates
                                        .switch__wrap
                                            label.coord__label X
                                            input.coord__counter.js-coord__counter(id="coord__x" name="wmCoordX" type="text" value="0" data-orientation='x-coordinate')

                                        .switch__wrap
                                            label.coord__label Y
                                            input.coord__counter.js-coord__counter(id="coord__y" name="wmCoordY" type="text" value="0" data-orientation='y-coordinate')

                            div.settings-block.block__border-none
                                .block__header
                                    h3 Прозрачность
                                .ui-slider
                                    .ui-slider-handle
                                    input.hide(id='watermark-opacity-value', name='wmOpacity' type='text', value='0.5')
                            div.button-block
                                input.btn__reset(type="reset", value="Сброс")
                                input.btn__submit(type="submit", value="Скачать")
            .empty
        footer.footer
            .container
                .footer__text
                    p &copy; 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его

        script(type='text/javascript', src='../js/libs/jquery/jquery.min.js')
        script(type='text/javascript', src='../js/libs/jquery-ui/jquery-ui.min.js')

        script(type='text/javascript', src='../js/libs/jquery-file-upload/jquery.ui.widget.js')
        script(type='text/javascript', src='../js/libs/jquery-file-upload/jquery.iframe-transport.js')
        script(type='text/javascript', src='../js/libs/jquery-file-upload/jquery.fileupload.js')

        script(type='text/javascript', src='../js/app.js')

